@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
  --font1: Verdana, 'Geneva', 'Tahoma', 'sans-serif';
  --font2: 'Passion One', cursive;
  --font3: 'Sriracha', cursive;
}



*{
  padding: 0px;
  margin: 0px;
}

html{
  scroll-behavior: smooth;
}

body{
  color: white;
  height: 100vh;
}

header{
  position: relative;
  background-color: black;
  text-align: center;
  padding: 7.5vh;
}

header h1{
  font-family: var(--font2);
  font-size: 10vw ;
  font-weight: bolder;
  font-variant: small-caps;
}

header a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font1);
  font-size: 1em;
}

header p{
  font-family: var(--font1);
  font-weight: lighter;
  font-size: 1em;
}

a:hover{
  text-decoration: underline;
}

main p{
  color: black;
  font-size: 3.5vw;
  font-family: var(--font3);
  line-height: 2em;
  padding-left: 30px ;
  max-width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}

#img01{
  background: darkgreen url(../ex05/img/background001.jpg) right center no-repeat fixed;
  background-size: cover;
  padding: 10vh 4vh;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.664);
  margin-bottom: 50px;
  margin-top: 50px;
}

.normal{
  font-size: 3.5vw;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
  margin: 0px;
  display: inline-block;
  padding: 5px;
}

#img02{
  background: white url(../ex05/img/background002.jpg) center center no-repeat fixed;
  background-size: cover;
  padding: 10vh 5vh;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.664);
  margin-bottom: 50px;
  margin-top: 50px;
}

footer{
  color: white;
  background-color: black;
  padding: 10px;
  text-align: center  ;
  font-family: var(--font1);
  font-weight: normal;
  font-style: normal;
  margin-top: 50px;
}

footer a{
  text-decoration: none;
  color: white;
  font-weight: 800;
}

.teste{
  position: absolute;
  background-color: white;
  right: 0;
}
